<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="ap-host-base-url" content="{{hostBaseUrl}}">
  <title>{{title}}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
</head>
<body>
    {{{body}}}
</body>
</html>